@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir/Agrandir-Regular.eot");
  src: url("../fonts/Agrandir/Agrandir-Regular.woff") format("woff");
  src: url("../fonts/Agrandir/Agrandir-Regular.woff2") format("woff2");
  src: url("../fonts/Agrandir/Agrandir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir/Agrandir-TextBold.eot");
  src: url("../fonts/Agrandir/Agrandir-TextBold.woff") format("woff");
  src: url("../fonts/Agrandir/Agrandir-TextBold.woff2") format("woff2");
  src: url("../fonts/Agrandir/Agrandir-TextBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir/Agrandir-Narrow.eot");
  src: url("../fonts/Agrandir/Agrandir-Narrow.woff") format("woff");
  src: url("../fonts/Agrandir/Agrandir-Narrow.woff2") format("woff2");
  src: url("../fonts/Agrandir/Agrandir-Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir/Agrandir-NarrowBlack.eot");
  src: url("../fonts/Agrandir/Agrandir-NarrowBlack.woff") format("woff");
  src: url("../fonts/Agrandir/Agrandir-NarrowBlack.woff2") format("woff2");
  src: url("../fonts/Agrandir/Agrandir-NarrowBlack.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir/Agrandir-Tight.eot");
  src: url("../fonts/Agrandir/Agrandir-Tight.woff") format("woff");
  src: url("../fonts/Agrandir/Agrandir-Tight.woff2") format("woff2");
  src: url("../fonts/Agrandir/Agrandir-Tight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: extra-condensed;
}

@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir/Agrandir-TightBlack.eot");
  src: url("../fonts/Agrandir/Agrandir-TightBlack.woff") format("woff");
  src: url("../fonts/Agrandir/Agrandir-TightBlack.woff2") format("woff2");
  src: url("../fonts/Agrandir/Agrandir-TightBlack.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: extra-condensed;
}

@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir/Agrandir-TightThin.eot");
  src: url("../fonts/Agrandir/Agrandir-TightThin.woff") format("woff");
  src: url("../fonts/Agrandir/Agrandir-TightThin.woff2") format("woff2");
  src: url("../fonts/Agrandir/Agrandir-TightThin.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
  font-stretch: extra-condensed;
}

@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir/Agrandir-WideLight.eot");
  src: url("../fonts/Agrandir/Agrandir-WideLight.woff") format("woff");
  src: url("../fonts/Agrandir/Agrandir-WideLight.woff2") format("woff2");
  src: url("../fonts/Agrandir/Agrandir-WideLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
  font-stretch: expanded;
}

@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir/Agrandir-WideBlackItalic.eot");
  src: url("../fonts/Agrandir/Agrandir-WideBlackItalic.woff") format("woff");
  src: url("../fonts/Agrandir/Agrandir-WideBlackItalic.woff2") format("woff2");
  src: url("../fonts/Agrandir/Agrandir-WideBlackItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-stretch: expanded;
}

@font-face {
  font-family: "Agrandir-Grand";
  src: url("../fonts/Agrandir-Grand/Agrandir-Grand.eot");
  src: url("../fonts/Agrandir-Grand/Agrandir-Grand.woff") format("woff");
  src: url("../fonts/Agrandir-Grand/Agrandir-Grand.woff2") format("woff2");
  src: url("../fonts/Agrandir-Grand/Agrandir-Grand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Agrandir-Grand";
  src: url("../fonts/Agrandir-Grand/Agrandir-GrandHeavy.eot");
  src: url("../fonts/Agrandir-Grand/Agrandir-GrandHeavy.woff") format("woff");
  src: url("../fonts/Agrandir-Grand/Agrandir-GrandHeavy.woff2") format("woff2");
  src: url("../fonts/Agrandir-Grand/Agrandir-GrandHeavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Agrandir-Grand";
  src: url("../fonts/Agrandir-Grand/Agrandir-GrandLight.eot");
  src: url("../fonts/Agrandir-Grand/Agrandir-GrandLight.woff") format("woff");
  src: url("../fonts/Agrandir-Grand/Agrandir-GrandLight.woff2") format("woff2");
  src: url("../fonts/Agrandir-Grand/Agrandir-GrandLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
}
/*# sourceMappingURL=fonts.css.map */